.nav-a-text {
  background: #f99736;
  border-radius: 50% 50% 50% 0px;
  color: black;
  font-weight:500;
}
.nav-link {
  color: white !important;
  text-decoration: none;
  font-size: 1.25rem !important;
}
.nav-link.active {
  border-bottom: 5px solid #f99736;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #f99736 !important; /* Change text color */
}
